.newHeading:after,
.newHeading:before {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}

.smartFinanceSchemesPopup,
.solarSolutionsForHomesPopup {
    padding: 0 !important
}

.solarSolutionsForHomesPopupPart1 {
    padding: 44px 44px 11px
}

.smartFinanceSchemesPopupPart2,
.solarSolutionsForHomesPopupPart2 {
    background: #f58220;
    padding: 68px 44px 26px;
    position: relative
}

.smartFinanceSchemesPopupPart2 span img,
.solarSolutionsForHomesPopupPart2 span img {
    display: block;
    width: 60px;
    height: 60px;
    max-width: none
}

.smartFinanceSchemesPopupPart2 .ssfhp2SbiLogo,
.solarSolutionsForHomesPopupPart2 .ssfhp2SbiLogo {
    width: 224px;
    height: 85px;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    margin: auto;
    border: 2px solid #f58220;
    border-bottom: 0;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.smartFinanceSchemesPopupPart2 .ssfhp2SbiLogo img,
.solarSolutionsForHomesPopupPart2 .ssfhp2SbiLogo img {
    display: block;
    margin: 24px auto 0
}

.smartFinanceSchemesPopupPart2 .ssfhp2SbiLogo:after,
.solarSolutionsForHomesPopupPart2 .ssfhp2SbiLogo:after {
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 10.5px 0;
    border-color: #fff transparent transparent;
    border-style: solid;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    margin: auto;
    z-index: 2
}

.smartFinanceSchemesPopupPart1 {
    padding: 44px 44px 82px
}

.newHeading {
    border-bottom: 2px solid #2186e7;
    position: relative;
    padding-bottom: 31px
}

.newHeading h2 {
    color: #f77b11;
    font-weight: 700;
    max-width: 690px;
    text-align: center;
    margin: 0 auto
}

.newHeading:before {
    content: '';
    background: #f77b11;
    width: 50%;
    height: 2px;
    bottom: -2px
}

.newHeading:after {
    content: '';
    background: url(../images/heading-border-arrow.jpg);
    width: 41px;
    height: 21px;
    bottom: -18px
}

@media(max-width:760px) {
    .noMarBot760 {
        margin-bottom: 0 !important
    }
}

@media(max-width:600px) {
    .solarSolutionsForHomesPopupPart1 {
        padding: 24px 24px 11px
    }
    .smartFinanceSchemesPopupPart2,
    .solarSolutionsForHomesPopupPart2 {
        padding: 68px 24px 26px
    }
    .smartFinanceSchemesPopupPart1 {
        padding: 24px 24px 82px
    }
    .smartFinanceSchemesPopupPart1 .finbutt {
        padding-top: 0
    }
}